*{
    font-family: "Rubik", sans-serif;
}
body{
    background-color: #DCE7F0;
}

.container{
    margin: 20px auto;
    border: 1px solid #ccc;
    width: 80%;
    border-radius: 20px;
    background-color: white;
}
.container h1{
    text-align: center;
    color: rgb(22, 131, 182);
}

.form-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.form-container input[type="text"] {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
.form-container button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: rgb(22, 131, 182);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-container button:hover{
    background-color: #DCE7F0;
    color: rgb(73, 72, 72);
}
.search-container {
    display: flex;
    justify-content: center;
}
.search-container input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
}

.footer{
    text-align: center;
}

.todo-item.header {
    font-weight: bold;
    background-color: #f0f0f0;
}


.todo-item {
    font-size:13px ;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 5px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr; /* 5 columns with equal width */
    align-items: center; /* Center items vertically */
}

.delete-button {
    background-color: rgb(180, 6, 6);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 10px;
    cursor: pointer;
    margin-right: 5px; 
}

.delete-button:hover {
    background-color: darkred; 
}

.checkbox{
    margin-top: -28px;
    
}



